<div class="row  justify-content-center ">
    <div class="col-md-8">
        <div class="list-group ">

            <a class="list-group-item" [routerLink]="['/profile/']" 
            routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-lightbulb">&nbsp;</i>
             My Ideas</a>

            <a class="list-group-item" [routerLink]="['/profile/User-Info']"><i class="fa fa-user">&nbsp;</i> My Info</a>
            <a class="list-group-item" [routerLink]="['/profile/Edit-Profile']"><i class="fa fa-pen">&nbsp;</i> Edit Profile</a>
        </div>
    </div>
</div>