<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><h5><i class="fa fa-lightbulb">&nbsp;</i>Just Think</h5></div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <textarea name="Idea" rows="5" placeholder="Make your Idea Shine "></textarea>
                    </div>
                    <hr>
                    <div class="from-group">
                        <button class="btn btn-outline-primary">Share</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>