.row{
    padding: 15px;
}
img{
    width: 256px;
    border-radius: 50% !important;
    height: 200px !important;
}
label{
    
    /* font-weight: bold; */
}
span{
    
    /* font-weight: bold; */
    
}
.card.third{
    height: 289px;
}
.card-body{
    color: #0275d8;
  
}
.card {
    border: 0.5px solid #0275d8;
}
.card:hover{
    border: 0.5px solid palevioletred   ;
}