<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5><i class="fa fa-info-circle"></i> Basic info</h5>
            </div>
            <div class="card-body">
                <!-- <div class="form-group img-div ">
                    <img src="../../../assets/IMG_6029.JPG" alt="UserName" class="  img-thumbnail ">
                </div> -->
                <div class="form-group">
                    <label for="">Name: </label>
                    <span>UserName</span>
                </div>
                <div class="form-group">
                    <label for="">Mobile: </label>
                    <span>Mobile</span>
                </div>
                <div class="form-group">
                    <label for="">Email: </label>
                    <span>Email</span>
                </div>
                <div class="form-group">
                    <label for="">Education: </label>
                    <span>Education</span>
                </div>
            </div>
            <div class="card-header">
                <h5><i class="fa fa-briefcase fa-fw"></i> Membership History</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>2015: </label>
                    <span>IT member</span>
                </div>
                <div class="form-group">
                    <label>2016: </label>
                    <span>IT Vice Head</span>
                </div>
            </div>
            <div class="card-header">
                <h5><i class="fas fa-hand-paper"></i> Partcipation</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <span>Event 1</span>
                </div>
            </div>
        </div>
    </div>
</div>