<app-dashboard-main-layout [title]="'Logs'">
    <!-- search -->
    <div class="search w-100 py-3">
      <!-- search -->
      <div class="form-group mb-0">
        <div class="p-0 position-relative">
          <label for="search" class="position-absolute">
            <img src="assets/icons/search.svg" width="20px" alt="search icon">
          </label>
          <input id="search" type="text" class="form-control search-input" name="search" placeholder="Search for event">
        </div>
      </div>
    </div>
    <!-- table -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" width="15">#</th>
            <th scope="col">Name</th>
            <th scope="col" >Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a [routerLink]="['/dashboard/logs/id']" class="link">laravel-2020-07-13.log</a> </td>
            <td>
              <button class="view" [routerLink]="['/dashboard/logs/id']"><i class="far fa-eye mr-1"></i>View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-dashboard-main-layout>
  