/* table */
.search {
    padding-bottom: .5rem !important;
    display: flex;
    justify-content: flex-end;
}

.search label {
    top: 7%;
    left: 10px;
}

.search .search-input {
    border: 0;
    box-shadow: 0 0 5px #dee2e6 !important;
    padding-left: 35px;
    font-size: smaller;
    width: 225px;
}

.search .search-input:focus {
    box-shadow: none;
}
table {
    background: white;
    border-radius: 5px;
}

.table thead th {
    border-top: 0;
}
.table-hover tbody tr:hover{
    background: rgba(127, 185, 224, 0.14) !important;
}
.table td {
    border: 0;
}

.table td a {
    color: #1c3053;
    text-decoration: none;
    transition: 500ms ease;
}
.view{
    font-size: 1rem;
    border: 0;
    background: transparent;
    color: #1c3053;
    font-weight: 900;
    border-radius: 5px;
    /* padding: 8px; */
    transition: 500ms ease;
}
.view:hover,.link:hover{
    color: blue !important;
}