.card {
    box-shadow: 0 0 5px #dee2e6 !important;
    background: white;
    transition: 500ms ease-in-out;
    margin: 8px;
    border-radius: 4px;
    border: 0;
}

.logs {
    flex-grow: 2;
}

.no_data {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.no_data h1 {
    color: #8e8e8e;
}

.profile {
    text-align: center;
}

.profile .img {
    background-image: url('../../assets/WhatsApp Image 2019-04-19 at 2.13.31 AM (2).jpeg');
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    background-size: cover;
}

.profile .img::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 100%;
    height: 4px;
    left: 0;
    height: 60px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 2px solid #2891d0;
    border-bottom: 0;
}

.profile .img::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    height: 60px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 2px solid #e84e79;
    border-bottom: 0;
    transform: rotate(180deg);
}

.profile p {
    font-size: .8rem;
    background: #e5f2fb;
    width: fit-content;
    margin: auto;
    padding: .4rem 1rem;
    color: #3587b6;
    border-radius: 31px;
}

.adding button {
    background: transparent;
    border: 0;
    color: black;
    box-shadow: none;
    padding: 1rem;
    margin-bottom: 1px;
}
.adding .dropdown button:focus{
    box-shadow: none;
}
.adding .dropdown-menu{
    width: 100%;
    border: 0;
    background: transparent;
    transform: translate3d(0px, 33px, 0px) !important;
    transition: 500ms ease  ;
}
.adding .dropdown-menu a.dropdown-item {
    background: white;
    margin: 8px 0;
    box-shadow: 0 0 5px #dee2e6;
    padding: 1rem;
    border-radius: 4px;
    transition: 500ms  ease;
}
.adding .dropdown-menu a.dropdown-item:hover{
    background: #e5f2fb;
    color:#3587b6 ;
}