<div class="row user">
    <!-- <div class="col-md-4">
      <div class="img"></div>
    </div> -->
    <div class="col-md-8">
      <h2 class="user_name">Eurka</h2>
      <!-- <h4 class="user_name">taro2a@gmail.com</h4> -->
      <!-- <h6 class="joined">Joined at : 6 - 6 - 1996</h6> -->
      <p class="access">
        this is Descirption Bla
        this is Descirption Bla
        this is Descirption Bla
        this is Descirption Bla
        this is Descirption Bla
        this is Descirption Bla asdssssssss
      </p>
      <div class="py-2">
          <button>Delete</button>
          <button>Edit</button>
      </div>
    </div>
  </div>